body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fcfafa;
    margin: 0;
    padding: 0;
  }
  
  .container, .video-screen, .ai-tracking {
    width: 99%;
    max-width: 700px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .active {
    display: block;
  }
  
  h1, h2, h3 {
    color: #0056b3;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .exercise-btn {
    background-color: #0056b3;
    color: white;
  }
  
  .start-btn {
    background-color: #28a745;
    color: white;
  }
  
  .stop-btn {
    background-color: #ff8c00;
    color: white;
  }
  
  .video-container video, #stream {
    width: 70%;
    border-radius: 10px;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
  }
  